section.seo-cards
	.container.seo-cards__container
		.seo-cards__item
			.seo-cards__img
				img(
					srcset="blocks/seo-cards/img-1-lg.png?as=webp 500w, blocks/seo-cards/img-1.png?as=webp 280w" 
						sizes="(min-width:968px) 500px, (min-width:320px) 280px"
					src="blocks/seo-cards/img-1.png?as=webp" alt=""
				)
			p.seo-cards__text Проведем аудит сайта, спроектируем посадочные страницы, создадим полезный контент и повысим доверие Вашего сайта в глазах поисковых систем.

		.seo-cards__item
			.seo-cards__img
				img(
					srcset="blocks/seo-cards/img-2-lg.png?as=webp 500w, blocks/seo-cards/img-2.png?as=webp 280w" 
						sizes="(min-width:968px) 500px, (min-width:320px) 280px"
					src="blocks/seo-cards/img-2.png?as=webp" alt=""
				)
			p.seo-cards__text Подберем оптимальные ключевые слова, по которым ваши товары/услуги ищут потенциальные заказчики, и выведем сайт на лидирующие позиции в поиске по этим ключевым словам.

		.seo-cards__item
			.seo-cards__img
				img(
					srcset="blocks/seo-cards/img-3-lg.png?as=webp 500w, blocks/seo-cards/img-3.png?as=webp 280w" 
					sizes="(min-width:968px) 500px, (min-width:320px) 280px"
					src="blocks/seo-cards/img-3.png?as=webp" alt=""
				)
			p.seo-cards__text Проведем анализ конкурентов и подготовим рекомендации, которые улучшат позиции сайта.

		.seo-cards__item
			.seo-cards__img
				img(
					srcset="blocks/seo-cards/img-4-lg.png?as=webp 500w, blocks/seo-cards/img-4.png?as=webp 280w" 
						sizes="(min-width:968px) 500px, (min-width:320px) 280px"
					src="blocks/seo-cards/img-4.png?as=webp" alt=""
				)
			p.seo-cards__text Специалист анализирует результаты поиска и основных конкурентов по большому количеству параметров (факторов ранжирования). Составляет рекомендации по улучшению сайта и доработке отдельных страниц. Внесение изменений улучшит позиции сайта в поисковых системах Яндекс и Google и увеличит количество обращений, заявок клиентов из поиска.